.project-slider {
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.project-slider-content__img {
  display: block;
  max-width: 100%;
}

.project-slider__btns {
  display: flex;
  justify-content: space-between;
  max-width: 167px;
  padding-left: 30px;
  margin-top: 311px;
}
.swiper-button-prev-projects,
.swiper-button-next-projects {
  position: relative;
  height: 11px;
  width: 53px;
  font-size: 0;
  padding: 20px 0;
  cursor: pointer;
}
.swiper-button-prev-projects::after {
  content: "";
  position: absolute;
  background-image: url("../img/sprites/arrow-left-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 12px;
  width: 53px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next-projects::after {
  content: "";
  position: absolute;
  background-image: url("../img/sprites/arrow-right-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 12px;
  width: 53px;
  transform: translateY(-50%);
}

.swiper-button-prev-projects.swiper-button-disabled,
.swiper-button-next-projects.swiper-button-disabled {
  opacity: 0.35;
}

.project-slider-content__title {
  margin-top: 20px;
  font-size: 24px;
}

.project-slider-content__year {
  display: block;
  margin-top: 10px;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 10px;
}

.project-slider-content__link-wrapper {
  margin-top: 30px;
}

.section-projects__btn {
  display: none;
}

@media (max-width: 1239px) {
  .project-slider__btns {
    display: none;
  }
  .section-projects__btn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .tabs__items {
    transform: none;
  }

  .project-slider {
    max-width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .project-slider-content__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-position: 0 center;
    object-fit: contain;
    max-height: 780px;
  }

  .tabs__titles-wrapper {
    overflow-x: scroll;
    position: relative;
  }

  .tabs__titles {
    display: flex;
    flex-shrink: 0;
    width: auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
    margin-top: 60px;
  }

  .tabs__btn-wrapper {
    display: none;
  }

  .tabs__title {
    flex-shrink: 0;
    padding: 10px 20px;
  }

  .tabs__title_active {
    border: none;
    background-color: var(--gray);
  }

  .tabs__title:not(:first-child) {
    margin-top: 0;
  }

  .project-slider-content {
    max-width: 100%;
  }
}
