.project-tabs__titles {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  overflow-x: auto;
  padding-bottom: 15px;
}

.project-tabs__title {
  flex-shrink: 0;
  font-family: "Courier New";
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px 20px;

  &:not(:first-child) {
    margin-left: 15px;
  }

  &:hover {
    background-color: var(--gray);
  }
}

.project-tabs__title_active {
  background-color: var(--gray-light);
}

//project-item

.project-list {
  list-style: none;
  margin-top: 35px;
  margin-bottom: 150px;
}

.project-list__item:not(:last-child) {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 2px solid var(--gray);
}

.project-item__body {
  display: flex;
}

.project-item__item:first-child {
  flex-basis: 200px;
}
.project-item__year {
  font-weight: 700;
}

.project-item__item:nth-child(2) {
  position: relative;
  height: 376px;
  width: 376px;
}

.project-item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-item__item:last-child {
  flex-basis: 629px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
}

.project-item__title {
  font-size: 24px;
}

.project-item__txt {
  margin-top: 20px;
}

.project-item__link {
  margin-top: auto;
}

@media (max-width: 1023px) {
  .project-item__item:last-child {
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .project-list {
    margin-top: 15px;
  }
  .project-item__body {
    flex-direction: column;
  }
  .project-list__item:not(:last-child) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .project-item__item:first-child {
    flex-basis: auto;
    margin-bottom: 15px;
  }
  .project-item__item:nth-child(2) {
    width: 100%;
  }
  .project-item__item:last-child {
    padding-left: 0;
    flex-basis: auto;
  }
  .project-item__title {
    margin: 25px 0 15px;
  }
  .project-item__txt {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
