.columns-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.columns-wrapper__item:first-child {
  flex-basis: 34.6%;
  padding-right: 15px;
}
.columns-wrapper__item:last-child {
  flex-basis: 65.4%;
}

.columns-wrapper__h3 {
  color: var(--orange);
  font-size: 18px;
  font-family: "Courier New", Courier;
  max-width: 340px;
  font-weight: 700;
}

.columns-wrapper__h3_black {
  color: var(--dark-gray);
  font-family: "Montserrat", sans-serif;
  font-variation-settings: "wght" 500;
  font-size: 18px;
}

.columns-wrapper__h3-mob {
  display: none;
}

.columns-wrapper__p:not(:first-child) {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .columns-wrapper__h3-mob {
    display: block;
  }

  .columns-wrapper__item_center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .main-form {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
